{
		"rules": {
			"max-len": [2, {"code": 240, "ignoreUrls": true, "ignoreComments": true}],
			"max-lines-per-function": ["error", { "max": 40 }],
			"max-statements": ["error", { "max": 40 }],
			"eslint.codeAction.showDocumentation": 1,
			"window.zoomLevel": 1
	}

}
